@font-face {
    font-family: 'callunaregular';
    src: url('fonts/Calluna-Regular-webfont.eot');
    src: url('fonts/Calluna-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Calluna-Regular-webfont.woff2') format('woff2'),
         url('fonts/Calluna-Regular-webfont.woff') format('woff'),
         url('fonts/Calluna-Regular-webfont.ttf') format('truetype'),
         url('fonts/Calluna-Regular-webfont.svg#callunaregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

